<!DOCTYPE html>
<html>
    <head>
        <title>Cash Machine</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div id="container">
            <div class="margin-bottom">
                Notes available: <span v-if="notesAvailable">{{ notesAvailable }}</span>
                <span v-if="notesAvailableErrorMessage" class="error">{{ notesAvailableErrorMessage }}</span>
            </div>

            <label>Amount desired:</label>
            <input type="text" v-model="amount" />

            <button @click="withdrawAmount()" :disabled="disableWithdrawButton">Withdraw</button>

            <div v-if="notesErrorMessage" class="margin-top error">{{ notesErrorMessage }}</div>

            <div v-if="notes.length" class="margin-top">
                <div>Notes:</div>
                <div>
                    <ul class="margin-top">
                        <li v-for="note in notes">{{ note }}</li>
                    </ul>
                </div>
            </div>
        </div>

        <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="index.js"></script>
    </body>
</html>