body {
  background-color: #f2f2f2;
}

#container {
  text-align: center;
  font-size: 26px;
  font-family: Helvetica;
  margin-top: 78px;
}

#container .amount {
  font-size: 26px;
  border: 3px solid black;
}

#container .withdraw {
  font-size: 20px;
  padding: 12px 9px 8px 9px;
  background-color: rgb(250, 178, 2);
  border: 0;
  color: white;
}

#container .withdraw:disabled {
  background-color: #c7c7c7;
}

#container .margin-top {
  margin-top: 40px;
}

#container .margin-bottom {
  margin-bottom: 15px;
}

#container .error {
  color: red;
}

#container .success {
  color: green;
}

#container .notes {
  display: flex;
  justify-content: space-around;
  width: 46%;
  margin: 0 auto;
  margin-top: 60px;
}

#container .note-value {
  border: 3px green solid;
  padding: 9px 15px 9px 15px;
  color: green;
  box-sizing: border-box;
  background-color: #e0f7e0;
}